<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/stylesNav.css">
        <link rel="stylesheet" href="../assets/css/stylesCoucher.css">
        <title>Monsters Gym</title>
    </head>

    <body>
        <div class="header-content">
            <nav>
                <h2 class="imgName">Monsters <span class="sName">Gym</span></h2>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="#">Planes</a></li>
                    <li><a href="suplements.html">Suplementos y ropa</a></li>
                    <li><a href="coucher.html">Tu coucher</a></li>
                    <li><a href="#">Contáctanos</a></li>
                </ul>
                <button id="btnSession">Iniciar Sesión</button>
            </nav>
            <div class="header-content-info">
                <h1>ASESORIA CON EXPERTOS</h1>
			    <p>Especialistas en salud, deporte y nutrición.</p>
            </div>
        </div>


        <div class="content-ins">
            <div class="content-ins-img">
                <img src="../assets/img/couchers.jpg" alt="">
            </div>
            <div class="content-ins-text">
                <h1>¡ENTRENA CON LOS MEJORES!</h1><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et quam sit amet lacus pharetra vestibulum eu eget sem. Phasellus quis purus vitae magna varius malesuada. Etiam at leo massa. Donec id porttitor nibh. Donec semper lacus ornare diam rutrum, et pharetra mauris cursus. Duis pharetra dolor id nisl tincidunt laoreet. </p>
            </div>
        </div>


        <div class="couch-initial">
            <div class="programs">
                <div class="card">
                    <img src="../assets/img/back5.jpg"><br><br>
                    <h5>PRIMERO TU PROGRESO</h5><br>
                    <p>Estamos en constante mejora para ayudarte.</p>
                </div>

                <div class="card">
                    <img src="../assets/img/place.jpeg"><br><br>
                    <h5>LUGARES AGRADABLES</h5><br>
                    <p>Entrena de manera comoda y tranquila.</p>
                </div>

                <div class="card">
                    <img src="../assets/img/asesor.jpeg"><br><br>
                    <h5>ASESORIA CON EXPERTOS</h5><br>
                    <p>Expertos en nutrición y condicion fisica.</p>
                </div>

                <div class="card">
                    <a href="suplements.html"><img src="../assets/img/back.jpg"></a><br><br>
                    <h5>PRODUCTOS</h5><br><br>
                    <p>Resistencia en tus entrenamientos.</p>
                </div>
            </div>
        </div>

        <section class="your-couch">
            <div class="your-couch-text">
                <h1>ENTRENADORES</h1><br>
                <hr>
            </div>
            <br><br><br>
            <div class="content-couch">
                
                <div class="content-couch-img">
                    <img src="../assets/img/couch1.jpeg"><br><br>
                </div>
                <div class="content-couch-text">

                </div>

                <div class="content-couch-img">
                    <img src="../assets/img/couch2.jpeg"><br><br>
                </div>
                <div class="content-couch-text">

                </div>

                <div class="content-couch-img">
                    <img src="../assets/img/couch3.png"><br><br>
                </div>
                <div class="content-couch-text">

                </div>

                <div class="content-couch-img">
                    <img src="../assets/img/couch4.jpeg"><br><br>
                </div>
                <div class="content-couch-text">

                </div>


                
             
            </div>
        </section>
        

        <footer>
            <p>Developed by Karin Soraya Gutiérrez and Jefferson Guzman. WEB &copy; 2023</p>
        </footer>
    
    </body>

</html>
