<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/stylesNav.css">
        <link rel="stylesheet" href="../assets/css/stylesSuplements.css">
        <title>Monsters Gym</title>
    </head>

    <body>
        <div class="header-content">
            <nav>
                <h2 class="imgName">Monsters <span class="sName">Gym</span></h2>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="#">Planes</a></li>
                    <li><a href="#">Suplementos y ropa</a></li>
                    <li><a href="coucher.html">Tu coucher</a></li>
                    <li><a href="#">Contáctanos</a></li>
                </ul>
                <button id="btnSession">Iniciar Sesión</button>
            </nav>
        </div>

  

       <div class="suplement">
            <div class="suplement-text">
               <div class="text">
                    <h3>SOBRE LOS SUPLEMENTOS</h3>
                    <br><br>
                    <p>Estos productos te serviran para ganar músculo y mucha más resistencia en tus entrenamientos.</p>
                    <br>
                    <button>Saber más</button>
                </div>
            </div>
            <div class="suplement-img">
                <img src="../assets/img/back6.png" alt="">
            </div>
        </div>

        <section class="content-products">
            <h2>ALGUNOS DE NUESTROS PRODUCTOS</h2>
            <br>
            <div class="products">

                <div class="card">
                    <div class="card-img">
                        <img src="../assets/img/suplement1.jpg" alt="">
                    </div>
                    <div class="card-text">
                        <p>Suplemento</p>
                        <h4>Nombre del producto</h4>
                        <br><hr><br>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="flecha"><img src="../assets/img/flecha.png" alt="" ></div>
                    </div>
                    
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="../assets/img/suplment2.jpg" alt="">
                    </div>
                    <div class="card-text">
                        <p>Suplemento</p>
                        <h4>Nombre del producto</h4>
                        <br><hr><br>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="flecha"><img src="../assets/img/flecha.png" alt="" ></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="../assets/img/suplement3.jpg" alt="">
                    </div>
                    <div class="card-text">
                        <p>Suplemento</p>
                        <h4>Nombre del producto</h4>
                        <br><hr><br>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="flecha"><img src="../assets/img/flecha.png" alt="" ></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="../assets/img/suplement4.jpg" alt="">
                    </div>
                    <div class="card-text">
                        <p>Suplemento</p>
                        <h4>Nombre del producto</h4>
                        <br><hr><br>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="flecha"><img src="../assets/img/flecha.png" alt="" ></div>
                    </div>
                </div>
                
            </div>

            

        </section>

        <div class="content-ins">
            <div class="content-ins-img">
                <img src="../assets/img/back4.jpg" alt="">
            </div>
            <div class="content-ins-text">
                <h1>¡LO MEJOR PARA TI!</h1><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et quam sit amet lacus pharetra vestibulum eu eget sem. Phasellus quis purus vitae magna varius malesuada. Etiam at leo massa. Donec id porttitor nibh. Donec semper lacus ornare diam rutrum, et pharetra mauris cursus. Duis pharetra dolor id nisl tincidunt laoreet. </p>
            </div>
        </div>


        



        <div class="suplement">
            
            <div class="suplement-img">
                <img src="../assets/img/back9.jpeg" alt="">
            </div>
            <div class="suplement-text">
               <div class="text">
                    <h3>VESTUARIO ADECUADO</h3>
                    <br><br>
                    <p>Encuentra las prendas con las que impresionaras y te sentiras comodo mientras logras tus OBJETIVOS..</p>
                    <br>
                    <button>Saber más</button>
                </div>
            </div>
        </div>

        <section class="content-products">
            <h2>ALGUNOS DE NUESTROS PRODUCTOS</h2>
            <br>
            <div class="products">

                <div class="card">
                    <div class="card-img">
                        <img src="../assets/img/clothing1.jpg" alt="">
                    </div>
                    <div class="card-text">
                        <p>Suplemento</p>
                        <h4>Nombre del producto</h4>
                        <br><hr><br>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="flecha"><img src="../assets/img/flecha.png" alt="" ></div>
                    </div>
                    
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="../assets/img/cloting3.jpg" alt="">
                    </div>
                    <div class="card-text">
                        <p>Suplemento</p>
                        <h4>Nombre del producto</h4>
                        <br><hr><br>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="flecha"><img src="../assets/img/flecha.png" alt="" ></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="../assets/img/cloting4.jpg" alt="">
                    </div>
                    <div class="card-text">
                        <p>Suplemento</p>
                        <h4>Nombre del producto</h4>
                        <br><hr><br>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="flecha"><img src="../assets/img/flecha.png" alt="" ></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="../assets/img/clothing1.jpg" alt="">
                    </div>
                    <div class="card-text">
                        <p>Suplemento</p>
                        <h4>Nombre del producto</h4>
                        <br><hr><br>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="flecha"><img src="../assets/img/flecha.png" alt="" ></div>
                    </div>
                </div>
                
            </div>

            

        </section>



        <section class="section">
            <div class="section-text">
                <h1>!LOGRA LO QUE TE PROPONES!</h1><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et quam sit amet lacus pharetra vestibulum eu eget sem. Phasellus quis purus vitae magna varius malesuada. Etiam at leo massa. Donec id porttitor nibh. Donec semper lacus ornare diam rutrum, et pharetra mauris cursus. Duis pharetra dolor id nisl tincidunt laoreet. </p>
            </div>
            <div class="section-img">
                <img src="../assets/img/back.jpg" alt="">
            </div>
            
        </section>


        <footer>
            <p>Developed by Karin Soraya Gutiérrez and Jefferson Guzman. WEB &copy; 2023</p>
        </footer>
    
    </body>

</html>
